{% extends 'security/securityBase.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/06-components/components-form-security.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-input.css") }}">
    <link rel="stylesheet" href="{{ asset("css/07-utilities/utilities-security-page.css") }}">
{% endblock %}
{% block title %}Museum Booking | Sign in{% endblock %}

{% block body %}
<form method="post" class="c-form-security">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

    <div class="c-form-security__logo-holder ">
        <img class="security_logo " src="{{ asset("images/musuemLogo.jpg") }}" alt="">
{#        <h1 class="h3 mb-3 logo font-weight-normal">Museum Booking</h1>#}
    </div>

    <div class="c-form-security__input-holder ">
        <label for="inputEmail">UserName</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputEmail" placeholder="ivan@gmail.com" class=" c-input c-input--expand-effect" required autofocus>
        <span class="focus-border"></span>
    </div>
    <div class="c-form-security__input-holder ">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="*********" class="  c-input c-input--expand-effect" required>
        <span class="focus-border"></span>
    </div>


    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>


    <button class="c-button " type="submit">
        Sign in
    </button>
</form>
{% endblock %}
