{% extends 'security/securityBase.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/06-components/components-form-security.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-input.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-input.css") }}">
    <link rel="stylesheet" href="{{ asset("css/07-utilities/utilities-security-page.css") }}">
{% endblock %}
{% block title %}Dimitrov Building | Sign in{% endblock %}
{% block body %}
<form method="post" class="col-11 mx-auto c-form-security">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="c-form-security__logo-holder">Влизане в администраторския акаунт</h1>
    <label for="inputUsername" class="c-logIn__label">Потребителско име</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control c-form-security__input-holder" autocomplete="username" required autofocus>
    <label for="inputPassword" class="c-logIn__label">Парола</label>
    <input type="password" name="password" id="inputPassword" class="form-control c-form-security__input-holder" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
           class="col-12 mx-auto"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg col-12" type="submit">
        Влез
    </button>
</form>
{% endblock %}
