{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset("css/06-components/components-card.css")}}" rel="stylesheet">
    <link href="{{asset("css/06-components/components-user/components-add-project.css")}}" rel="stylesheet">
    <link href="{{asset("css/06-components/components-project-images.css")}}" rel="stylesheet">
    <link href="{{asset("css/06-components/components-admin/components-textarea.css")}}" rel="stylesheet">
    <link href="{{asset("css/07-utilities/utilities-admin-intro.css")}}" rel="stylesheet">
    <script src="{{asset("js/clickDetection.js")}}"></script>
{% endblock %}
{% block title %}Hello AdminController!{% endblock %}



{% block body %}
    <div class="col-12 u-admin-intro p-0 m-0 justify-content-center row">
        <h3 class="text-center col-12 m-0 u-admin-intro__text">{{ project.location }} | {{ project.projectType }} | Период:
           {{ project.startDate }} -  {{ project.endDate }}
        </h3>
    </div>
    <div class="c-project-images">
        <h3 class="text-center col-12 o-margin--t--4">Начална снимка </h3>
        <div class="c-project-images__profileImage-holder">
            {% if project.defaultImage %}
                <img src="{{ asset('projects/'~profileImage) }}" alt="" id="profileImage">
            {% else %}
                    <img src="{{profileImage }}" alt="" id="profileImage">
            {% endif %}

            <label for="newProfileImageInput" class="c-project-images__profileImage-holder__afterEffect m-0">
                <i class="fas fa-camera-retro"></i>
            </label>
            <input type="file" id="newProfileImageInput" >
        </div>

        <div class="c-project-images__addImages-holder justify-content-center col-11 p-0 mx-auto row">
            <h3 class="text-center col-12 o-margin--t--2">Снимките на вашият обект  </h3>
            {% for image in images %}
                <div class="col-11 col-md-6 col-lg-4 p-0 o-margin--t--2" id="{{ image[0] }}">
                    <div class="c-project-images__addImages-holder__image-holder col-11 mx-auto">
                        <img src="{{ image[1] }}" alt="">
                        <div class="remove-image"><i class="fas fa-times"></i></div>
{#                        href="{{ path("removeImageFromProject", {'id' : image[0]}) }}"#}

                    </div>

                </div>
            {% endfor %}
            <label for="projectImages"  class="col-11 col-md-6 col-lg-4 p-0 o-margin--t--2" id="projectImagesContainer">
                <div class="c-project-images__addImages-holder__add-button col-11 mx-auto">
                      <i class="fas fa-plus"></i>
                    <input type="file"  id="projectImages">
                </div>
            </label>

        </div>
    </div>

    <div class="c-textarea-container col-11 o-margin--t--4 mx-auto">
        <h3 class="col-12 text-center o-margin--b--1 ">Дайте информация относно обекта</h3>
        <textarea name="" id="information" >{{ project.information }}</textarea>
    </div>

    <div class="c-textarea-container o-margin--t--4 col-11 mx-auto">
        <h3 class="col-12 text-center ">Какви промени сте направили по обекта</h3>
        <h5 class="col-12 text-center o-margin--b--1">Разделете промените със интервал или запетая</h5>
        <textarea name="" id="changes" > {{ project.changes }}</textarea>
    </div>

    <div class="c-admin-project-buttons row col-11 mx-auto o-margin--t--4">
        <div class="col-6 p-1">
            <button class="col-12 btn btn-secondary p-1" id="removeChanges">Отмяна на промените</button>

        </div>
        <div class="col-6 p-1">
            <button class="col-12 btn btn-success p-1 " id="send-changes">Запаметяване</button>
        </div>
        <button class="col-12 btn btn-danger m-1">Изтриване на проекта</button>
    </div>



    <script>
        var newImages = [];
        var deletedImages = [];
        var startNumberForCard = 1000;
        var createdCardNumber = startNumberForCard;
        var executedDelete = false;
        var newProfilePic = '';

        // add images for project
        $('#projectImages').change(function (){
            var input = this;
            if (input.files && input.files[0]) {
                var reader   = new FileReader();

                reader.onload = function (e) {

                    newImages.push(e.target.result)

                }
                reader.readAsDataURL(input.files[0]);
            }


            createImageCard(this, createdCardNumber);
            createdCardNumber++;
        });


        //remove image from project
        $('div').on('click', '.remove-image', function (){
           if (!executedDelete){
               var parentNode = $(this).parent().parent();
               parentNode.css('display', 'none');
               var newImage = parentNode.hasClass('new-image');
               if (newImage){
                   newImages.splice(parentNode.id - startNumberForCard, 1);
               }else{
                   deletedImages.push(parentNode.attr('id'));
               }

               console.log(newImages);
               console.log(deletedImages);
               executedDelete = true;
           }
            setTimeout(function(){ executedDelete = false }, 10);
        });







        // change the profile picture
        $("#newProfileImageInput").change(function(){
            // function return array with one value and this is the way i get it
            newProfilePic = changeProfilePic(this);

        });


        //send all changes to the web server
        $('#send-changes').on('click', function (){

            var information = $('#information').val();
            var changes = $('#changes').val();
            var projectId = {{ project.id }};

            var data = {'images' : newImages,
                        'profileImage' : newProfilePic,
                        'information' : information,
                        'changes' : changes,
                        'deleteImages' : deletedImages,
                        'projectId' : projectId };

             var result = ajaxRequest('POST', '/admin/projectChanges', data);
            if (result == '1'){
                location.reload();
            }
        });

        $('#removeChanges').on('click', function (){
           location.reload();
        });

    </script>
    <script src="{{asset("js/animation/animation-hidden-content.js")}}"></script>
    <script src="{{asset("js/components/components-file-actions.js")}}"></script>


{% endblock %}





