{% extends 'user/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset("css/06-components/components-user-project-header.css")}}" rel="stylesheet">
    <link href="{{asset("css/06-components/components-project-images.css")}}" rel="stylesheet">
{% endblock %}

{% block javascripts %}

{% endblock %}


{% block body %}

    <header class="col-12 c-user-project-header m-0  ">
        <div class="c-user-project-header__information-container">
            <div class="c-user-project-header__information-container__text">
                <h2 class="text-center mt-4">Локация: {{ project.location }}</h2>
                <h4 class="text-center mt-3">Период на строене: {{ project.startDate }} - {{ project.endDate }}</h4>
                <h4 class="text-center mt-3">Тип: {{ project.projecttype.name }}</h4>
            </div>
        </div>

        <div class="c-user-project-header__image-container col-12 m-0 p-0">
            <img src="{{ profileImage    }}" class="" alt="">
        </div>
    </header>

    <div class="c-user-project-information col-11 mx-auto ">
        <h3 class="text-center col-12 o-margin--t--2">Защо избраха нас  </h3>
        <h5>{{ project.information }}</h5>
    </div>

    <div class="c-project-images">
        <div class="c-project-images__addImages-holder  col-11 p-0 mx-auto row">
            <h3 class="text-center col-12 o-margin--t--2">Снимките на вашият обект  </h3>
            {% for image in readyImages %}
                <div class="col-11 col-md-6 col-lg-4 p-0 o-margin--t--2" >
                    <div class="c-project-images__addImages-holder__image-holder col-11 mx-auto">
                        <img src="{{ image}}" alt="">

                        {#                        href="{{ path("removeImageFromProject", {'id' : image[0]}) }}"#}

                    </div>

                </div>
            {% endfor %}


        </div>
    </div>
    <div class="col-11 mx-auto o-margin--t--2">
        <h2 class="col-12 text-center">Направени промени</h2>

        {% for change in project.changes|split(',') %}
            <h5 class="col-3 mx-auto">- {{ change }}</h5>

    {% endfor %}
    </div>
{% endblock %}