{% extends 'user/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset("css/06-components/components-user-project-header.css")}}" rel="stylesheet">

{% endblock %}

{% block javascripts %}

{% endblock %}


{% block body %}

    <header class="col-12 c-user-project-header m-0  ">
        <div class="c-user-project-header__information-container">
            <div class="c-user-project-header__information-container__text">
                <h2 class="text-center mt-4">Локация: {{ project.location }}</h2>
                <h4 class="text-center mt-3">Период на строене: {{ project.startDate }} - {{ project.endDate }}</h4>
                <h4 class="text-center mt-3">Тип: {{ project.projecttype.name }}</h4>
            </div>
        </div>

        <div class="c-user-project-header__image-container col-12 m-0 p-0">
            <img src="{{ profileImage    }}" class="" alt="">
        </div>
    </header>

    <div class="c-user-project-information">

    </div>


{% endblock %}