{% extends 'user/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset("css/06-components/components-user-project-header.css")}}" rel="stylesheet">
    <link href="{{asset("css/06-components/components-card.css")}}" rel="stylesheet">
{% endblock %}

{% block javascripts %}

{% endblock %}


{% block body %}
    <header class="col-12 c-user-project-header m-0  ">
        <div class="c-user-project-header__information-container">
            <div class="c-user-project-header__information-container__text pt-2 pb-2 text-center">
                <h1 class="text-center ">За нас </h1>
                <hr class="col-2 mx-auto">
                <h5 class="text-center o-margin--t--3">Спестете време</h5>
                <button class="o-button o-button--red o-margin--t--1 col-2"><h5>Обадете се</h5></button>
            </div>
        </div>
        <div class="c-user-project-header__image-container col-12 m-0 p-0">
            <img src="{{ asset("images/aboutUs.jpg") }}" class="" alt="">
        </div>
    </header>

    <div class="col-11 mx-auto">
        <div class="col-12 text-center o-margin--t--2"><h2>Защо да изберете нас</h2></div>
        <div>
            <h5 class="text-justify o-margin--t--1  col-11 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar vel nunc quis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean ut condimentum sapien, condimentum congue tortor. Nunc eu ligula ac dui aliquam molestie. Morbi.</h5>
        </div>
    </div>



    <div class="col-11 mx-auto row p-0 mx-0  o-margin--b--5   ">
       <h2 class="col-12 text-center o-margin--t--2">Кой сме ние</h2>
        <div class="c-employee-row col-12">
            <div class="c-employee-row__image col-4">
                <img src="{{ asset("images/syosnovatel.jpg") }}" class="c-card__image-container__image" alt="">

            </div>
            <div class="c-employee-row__text col-8">

            </div>
        </div>



        <div class="col-12 col-md-6 col-lg-4 mt-4 p-0 m-0 ">
            <div class="c-card col-11 mx-auto ">
                    <div class="c-card__image-container">
                        <img src="{{ asset("images/syosnovatel.jpg") }}" class="c-card__image-container__image" alt="">

                        <div class="c-card__image-container__information">
                            <h5>Иван Димитров </h5>
                            <h5>Съосновател </h5>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-4 p-0 m-0 ">
            <div class="c-card col-11 mx-auto ">
                    <div class="c-card__image-container">
                        <img src="{{ asset("images/syosnovatel2.jpg") }}" class="c-card__image-container__image" alt="">

                        <div class="c-card__image-container__information">
                            <h5>Иван Димитров </h5>
                            <h5>Съосновател </h5>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-4 p-0 m-0 ">
            <div class="c-card col-11 mx-auto ">
                    <div class="c-card__image-container">
                        <img src="{{ asset("images/upravitel.jpg") }}" class="c-card__image-container__image" alt="">

                        <div class="c-card__image-container__information">
                            <h5>Иван Димитров </h5>
                            <h5>Мениджър </h5>
                        </div>
                    </div>
            </div>
        </div>
   </div>

    <div class="col-11 mx-auto">
        <div class="col-6"><h2>За нас качеството е от първоначална необходимост</h2></div>
    </div>




{% endblock %}