{% extends 'base.html.twig' %}
 
{% block stylesheets %}
           <link href="{{asset("css/06-components/components-navbar.css")}}" rel="stylesheet">
{% endblock %}

{% block navbarElements %}
                <li class="nav-item   c-navbar__elementsContainer__element c-navbar__elementsContainer__element--active ">
                  <a class="nav-link" href="{{ path('home') }}">Начало <span class="sr-only">(current)</span></a>
                </li>
              
                <li class="nav-item dropdown c-navbar__elementsContainer__element">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Проекти
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('arrangedProjects' ,{'type' : 'houses'}) }}">Къщи</a>
                    <a class="dropdown-item" href="{{ path('arrangedProjects' ,{'type' : 'apartments'}) }}">Апартаменти</a>
                    <a class="dropdown-item" href="{{ path('arrangedProjects' ,{'type' : 'church'}) }}">Църкви</a>
                    <a class="dropdown-item" href="{{ path('arrangedProjects' ,{'type' : 'roofs'}) }}">Покриви</a>
                  </div>
                </li >
                  <li class="nav-item c-navbar__elementsContainer__element ">
                  <a class="nav-link" href="{{ path('aboutUsView') }}">За нас</a>
                </li>
                <li class="nav-item c-navbar__elementsContainer__element ">
                  <a class="nav-link" href="{{ path('contactUs') }}">Контакти</a>
                </li>
{% endblock %}
